<div class="body_container">
  <h1>Add a Thwack! Account:</h1>

  <form id="sign-up" method="post" action="/users">
    <label class="label" for="name">Name:</label>
    <input type="text" name="user[name]" placeholder="e.g., Robin" >
    <br>

    <label class="label" for="email">Email:</label>
    <input type="email" name="user[email]" placeholder="e.g., janethearcher@arrows.com" >
    <br>

    <label class="label" for="password">Password:</label>
    <input type="password" name="user[password]" placeholder="6 or more characters">
    <br>

    <label class="label" for="bow_type">Bow Type:</label>
    <input type="text" name="user[bow_type]" placeholder="e.g., compound">
    <br>

    <label class="label" for="equipment">Equipment:</label>
    <input type="text" name="user[equipment]" placeholder="e.g., Carter Fits Me release, Beestinger stabilizers,.." >
    <br>


    <div class="submit"><input type="submit" value="Sign Up"></div>
  </form>

</div>